.header{
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}
.linkList{
  
    margin: 0 auto;
    width: 900px;
    margin-bottom: 80px;
    padding-top: 30px;
    padding-bottom: 25px;
    background-color: rgba(36, 34, 34,0.4);
    display: flex;
    justify-content: space-around;
    
   

}
.linkItem{
    position: relative;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Noto Serif', serif;
  
   
}

.appLink{
    width: 300px;
}
  .appLink:hover::before{
    display: block;
    position: absolute;
    margin: 0 auto;
    content: '';
    margin-left: 0px;
 margin-top: 45px;
    background-color: red;
    height: 4px;
    width: 100%;
  }
