.background {

    margin: 0 auto;
    text-align: center;
 
    object-fit: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;








}

@media(min-width: 320px) {



    .background {
        min-height: 740px;
    }

}

@media(max-width:767px) {

    .background {

        background-image: url('../assets/images/map-small.jpg');
        width: 320px;
    }

}

@media (min-width: 768px) {
    .background {
        min-height: 1024px;
        background-image: url('../assets/images/map-small.jpg');
    }

}

@media (min-width: 768px) {
    .background {
        background-image: url('../assets/images/map.jpg');
    }

}