.maxConfirmed {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    justify-content: space-between;
}

.countryLi {
    width: 220px;
    display: flex;
    justify-content: space-between;


}

.countryLi:last-child {
    margin-right: 0px;
}

.country {
    color: red;
}

.info {
    color: #bbb8b8;
}

.latestNewsDiv {
    color: #ffffff
}

.infoFirst {
    color: #3030bd;
}

.infoSecond {
    color: #bd1818;
}

.infoThird {
    color: #187418
}

.maxConfirmedDiv {
    padding-bottom: 20px;
}

@media(min-width: 768px) {
    .maxConfirmed {


        width: 700px
    }

    .countryLi {
        width: 220px;

    }
}


@media(min-width: 1400px) {
    .maxConfirmed {


        width: 1200px
    }

    .countryLi {
        width: 220px;



    }
}