.newsContainer{
    display: flex;
    justify-content: space-between;
   
}
.link{
   color: rgb(177, 151, 48);
    text-decoration: none;
}
.icons{
    margin-top: 20px;
    color :red;
}
.title{
    color: red;
}