.newsContainer{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
   
}
.link{
   color: rgb(177, 151, 48);
    text-decoration: none;
}
.icons{
    margin-top: 20px;
    color :red;
}
.title{
    color: red;
}
.root{
    margin-right: 10px;
}
